

    </div><!-- /.row -->

  </div><!-- /.container -->
  <footer class="blog-footer">
  <nav class="nav">
    <a href="http://www.facebook.com/pages/1st-Co-Richmond-Howitzers/85329103822?filter=1">
      <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="http://www.myspace.com/1stcorichmondhowitzers">
      <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-myspace fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </nav>
  <p class="copyright text-muted">Copyright &copy; 1st Company, Richmond Howitzers 2012</p>
  <a href="{{ site.github.issues_url }}/">Report Site Issues</a>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
