<div class="col-md-3 col-s-2 left-nav" >
  <div class="sidebar-module">
  <ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link" href="/150th-anniversary-events-and-activites.html">150th Anniversary</a></li>
  <li class="nav-item"><a class="nav-link" href="/who-we-are.html">Who we are</a></li>
  <li class="nav-item"><a class="nav-link" href="/members-information.html">Member’s Information</a></li>
  <li class="nav-item"><a class="nav-link" href="/1st-company-richmond-howitzers-history.html">1st Company’s History</a></li>
  <li class="nav-item"><a class="nav-link" href="/photo-gallery/">RH’s Photo Gallery</a></li>
  <li class="nav-item"><a class="nav-link" href="/artillery-information.html">Artillery Information</a></li>
  <li class="nav-item"><a class="nav-link" href="/civil-war-links.html">Civil War Links</a></li>
  <li class="nav-item"><a class="nav-link" href="/civil-war-reenacting.html">Civil War Reenacting</a></li>
  <li class="nav-item"><a class="nav-link" href="/grace-street-society.html">Grace Street Society</a></li>
  <li class="nav-item"><a class="nav-link" href="/photo-gallery/">Contact Us</a></li>
  </ul>
  </div>
</div>
